- title 'Exemples'

.page-header
  %h1= 'Exemples'

%p=raw "Cette rubrique présente des exemples d’entreprises qui ont mis en place le BYOD.<br />Pour partager votre retour d’expérience dans cette rubrique, voir FAQ."

%section
  %h2= "Evolution de la politique Poste de Travail chez OCTO Technology"
  .byod_matrice= image_tag 'octo-byod.png', size: '720x540'
